@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
}

.titles-container{
    border: 1px solid red;
    text-align: center;
    margin-bottom: 50px;
}

.titles-container h2{
    font-size: 2.2rem;
}


.home{
    max-width: 100%;
    height: 80vh;
    background-image: url('./imgs/banner-lp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}



.home::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top,rgba(255,255,255,0) 50%,rgba(0,0,0,1) 100%);
}


.home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 50%,rgba(0,0,0,1) 100%);
}


.menu{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    gap: 40px;
}

@media screen and (max-width: 768px) {
    .menu{
        flex-direction: column;
        gap: 30px;
    }

    .menu ul{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
}

.menu ul{
    
    display: flex;
    gap: 10px 30px;

}

.menu ul li a, .menu ul li p{
    color: #fff;
}


.menu ul li p{
 display: flex;
 align-items: center;
 gap: 5px;
}


.info{
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 20px;
}

.info h1{
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 4px #141414;
    text-align: center;
}

.info p{
    font-size: 1.4rem;
    color: #fff;
    text-shadow: 2px 2px 4px #141414;
    text-align: center;
}

.card-detalhes-home{
    max-width:100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    padding: 0px 20px;
}

.info-detalhes-home{
    background-color: #fff;
    max-width: 1000px;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalhes-home-item{
    display: flex;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width:600px) {
    
    .info-detalhes-home{
        padding: 20px 10px;
        
    }
    
    .card-detalhes-home{
        padding: 0px 10px;
    }
    .detalhes-home-item{
        flex-direction: column;
    }


    .detalhes-home-item svg{
        width: 25px;
        
    }

    .detalhes-home-item p{
        font-size: 14px;
    }
    
    
    
}


/**/

.sobre{
    margin-top: 120px;
}

.sobre-info-container{
    display: flex;
    
   
}

.sobre-txt{
    flex: 1;
    padding: 20px;
   
}

.sobre-txt p{
    font-size: 18px;
    line-height: 2;

}

.sobre-detalhes{
  display: flex;
  gap: 0px 50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.img-sobre{
    flex: 1;
}

.img-sobre img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobre-detalhes-group{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    padding: 0px 14px 10px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}

.sobre-detalhes-group p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 200px;

}

.preco-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px 10px;
    margin-top: 30px;
}



.preco-txt small{
    font-size: 16px;
    font-weight: 600;
    color: #404040;
}

.preco-txt h3{
    font-size: 2rem;
    
}


.btn-contato{
    height: 50px;
    background: #000;
    color: #fff;
    display: flex;
    max-width: 160px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    
   
}

.img-cards{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.img-imoveis{
    margin-top: 50px;
}

@media screen and (max-width:768px) {
    .sobre-info-container{
        flex-direction: column;
    }

    .img-sobre img{
        padding: 10px;
    }

   
    
}


@media screen and (max-width:425px) {
   
    .preco-container{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .btn-contato{
        margin: 0 auto;
    }

}

.glide__slides .glide__slide{
    border: 1px solid red;
    

}

.glide__slides .glide__slide img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}

.glide__arrow{
    background: #ffffff2d !important;
}


.glide__arrow.glide__arrow--next{
    position: absolute ;
    right: 0px ;
}